<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Google Cloud Run</title>
    <meta name="description" content="Google Cloud Run: Dataset Summaries via HTTP Request">
    <meta name="author" content="Ekaba Bisong">

    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <style>
        body {
            font-family: 'ABeeZee'; font-size: 22px;
        }

        img {
            padding: 0;
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">
        <span style="color: #4285f4;">Google <span style="color: #db4437;">Cloud</span> <span style="color: #f4b400;">Run</span>: <br />
        <span style="color: #0f9d58;">Dataset Summaries via HTTP&nbsp;Request<br /></span>
        </span>
    </h1>
    <h2 style="text-align: center;">
        <strong>Using Pandas Profiling</strong>
    </h2>

<img src="https://cdn-images-1.medium.com/max/1600/1*JPJ2bq3Fb3Kmeq-gTMBoDA.png" alt="Google Cloud Run High Level Architecture">

</body>
</html>